<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>If Trump was an Environmentalist?</title>
        <meta name="description" content="">
        
        <!-- The compiled CSS file -->
		<link href="https://necolas.github.io/normalize.css/7.0.0/normalize.css" rel="stylesheet">
		<link href="index.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
		<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
		<script src="profile.js"></script>	 
        <link rel="stylesheet" href="production.css">
        <link rel="stylesheet" href="gradient-buttons.min.css"/>

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

    </head>

    <body>


    <!-- Create outer border -->
    <div class="page-border">
    <div class="bg--white">

        <!-- Header -->
        <header class="align--center pt3 pb2">
            <div class="container">
                <h1 class="mb3">If Trump was an Environmentalist?</h1>
                <div>
                <img src="../static/images/merged.jpg" alt="trump tweets">
                </div>
                <br/>
                <p class="mb3">Ever wondered what Trump would sound like if he spoke for the trees, lived a life in the woods like Walden, and campaigned to educate people about the Inconvenient Truth of global warming? This web app was created with you and many others in mind.</p>
                <h3 class="mb1"> Click on the button below to generate a tweet that fulfills your wildest dreams.</h3>
                <br/>
                <form action="/tweet" method="post">
                <button type="submit" href="/tweet" class="g-btn g-btn--aqua-to-green radius-lg has-border">Generate text!</button>
                </form>
            </div>
            <br/>
        </header>
            		<div>
			<div class="wallcontainer">
				<div class="profilecard">
					<div class="profilecardhead"></div>
					<div class="profilecardimagediv">
						<img src="../static/images/donniedrawing.jpg">
					</div>

					<div class="profilecardnameidcont">
						<div class="profilecardnamecont">
							<span id="profilecardname"></span>
						</div>
						<span id="profilecarduid"></span>
					</div>

					<div class="profilecardstatsdiv">
						<ul class="profilecardstatslist">
							<li class="profilecardstatslistitem">
								<span class="dispblk">
									<span class="statslistitemhead">Tweets</span>
									<span id="statslistitemcount" class="statslistitemcount">0</span>
								</span>
							</li>

							<li class="profilecardstatslistitem">
								<span class="dispblk">
									<span class="statslistitemhead">Following</span>
									<span class="statslistitemcount">35</span>
								</span>
							</li>

							<li class="profilecardstatslistitem">
								<span class="dispblk">
									<span class="statslistitemhead">Followers</span>
									<span class="statslistitemcount">34</span>
								</span>
							</li>
						</ul>
					</div>
				</div>


				<div class="rightcontainer">
					<div class="posttweetcontainer">
						<img class="posttweetprofimg" src="../static/images/donniedrawing.jpg">
						<div class="ml56px">
							<div class="posttweettacontainer">
								<textarea id="posttweetta" class="posttweetta" placeholder="What's happening?"></textarea>
								<div class="posttweetcountcont">
									<span class="posttweetcount"><span id="totalchars">0</span>/250</span>
								</div>
							</div>
							<div class="posttweetbutcont">
								<button id="posttweetbut" class="posttweetbut">Tweet</button>
							</div>
						</div>
					</div>
					<div>
						<ul id="tweetscontainer" class="tweetscontainer">
                        </ul>
                    </div>
                </div>
                        </div>
        <!-- Body -->
        <main>
            <div class="container">

                <!-- Info -->
                <section class="pt2 pb3">                    
                    <h3>How it works</h3>
                    <hr/>
                    <Br/>
                        <div style='position:relative; padding-bottom:calc(57.50%)'><iframe src='https://gfycat.com/ifr/OldfashionedHeavenlyCoypu' frameborder='0' scrolling='no' width='75%' height='95%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div><p> <a href="https://gfycat.com/oldfashionedheavenlycoypu">via Gfycat</a>
                        <p>This web app uses a Markov chain to generate text. A Markov chain essentially consists of a set of transitions, which are determined by some probability distribution, that satisfy the Markov property.</p>
                    <p>More on Markov chains <a href="http://setosa.io/ev/markov-chains/">here</a></p>
                     
                </section>

                <!-- Presenters -->
                <section class="pt3 pb3 align--center">
                    <h3 class="mb1">The talkers</h3>
                    <div class="grid-row">
                        <div class="grid-column span-2 mt2">
                            <img class="mb1" src="/img/woman1.jpg" alt="Alyssa Long">
                            <p class="small">Alyssa Long</p>
                        </div>
                        <div class="grid-column span-2 mt2">
                            <img class="mb1" src="/img/man1.jpg" alt="Jonathan Foster">
                            <p class="small">Jonathan Foster</p>
                        </div>
                        <div class="grid-column span-2 mt2">
                            <img class="mb1" src="/img/woman2.jpg" alt="Kiara Taylor">
                            <p class="small">Kiara Taylor</p>
                        </div>
                        <div class="grid-column span-2 mt2">
                            <img class="mb1" src="/img/man2.jpg" alt="Elijah Rhodes">
                            <p class="small">Elijah Rhodes</p>
                        </div>
                        <div class="grid-column span-2 mt2">
                            <img class="mb1" src="/img/woman3.jpg" alt="Anita Gonzalez">
                            <p class="small">Anita Gonzalez</p>
                        </div>
                        <div class="grid-column span-2 mt2">
                            <img class="mb1" src="/img/man3.jpg" alt="Adrian Sosa">
                            <p class="small">Adrian Sosa</p>
                        </div>
                    </div>
                </section>

                <!-- Sponsors -->
                <section class="pt3 pb3 align--center">
                    <h3 class="mb2">Some generous peeps</h3>
                    <img class="m1" src="/img/stripe.svg" alt="Stripe" style="height:50px">
                    <img class="m1" src="/img/segment.svg" alt="Segment" style="height:45px">
                    <img class="m1" src="/img/newrelic.svg" alt="New Relic" style="height:35px">
                    <img class="m1" src="/img/drift.svg" alt="Drift" style="height:50px">
                    <img class="m1" src="/img/zopim.svg" alt="Zopim" style="height:50px">
                </section>

                <!-- Testimonials -->
                <section class="pt2 pb3">
                    <h3 class="align--center mb2">On the record</h3>
                    <div class="grid-row">
                        <div class="grid-column span-one-third mt1">
                            <blockquote class="blockquote">
                                <p>This conference changed my life because I found my wife&nbsp;there.</p>
                                <p>> <cite>Randy Johnson</cite></p>
                            </blockquote>
                        </div>
                        <div class="grid-column span-one-third mt1">
                            <blockquote class="blockquote">
                                <p>It takes a really long time to get to this event. Worth it?&nbsp;Maybe.</p>
                                <p>> <cite>Jill Carson</cite></p>
                            </blockquote>
                        </div>
                        <div class="grid-column span-one-third mt1">
                            <blockquote class="blockquote">
                                <p>Sometimes I like to be glamorous. It makes me feel good&nbsp;inside.</p>
                                <p>> <cite>Chase Harrop</cite></p>
                            </blockquote>
                        </div>
                    </div>
                </section>

                <!-- CTA -->
                <section class="align--center pt3 pb3">
                    <p class="h3 mb2">Tickets start at&nbsp;$950.</p>
                    <a href="" class="btn btn--outline">Download Schedule</a>
                    <a href="https://www.eventbrite.com/" class="btn btn--default">Get a ticket →</a>
                    <p class="small mt1 text--gray">Tickets available on Eventbrite.</p>
                </section>

            </div>
        </main>

        <!-- Footer -->
        <footer class="mt2 pb3 align--center">
            <ul class="no-bullets list--inline mb0">
                <li class="m1 block-on-mobile"><a href="https://www.twitter.com" class="link"><img class="icon" src="/img/twitter.svg" alt="Twitter"> Twitter</a></li>
                <li class="m1 block-on-mobile"><a href="https://www.facebook.com" class="link"><img class="icon" src="/img/facebook.svg" alt="Facebook"> Facebook</a></li>
                <li class="m1 block-on-mobile"><a href="https://www.instagram.com" class="link"><img class="icon" src="/img/instagram.svg" alt="Instagram"> Instagram</a></li>
                <li class="m1 block-on-mobile"><a href="https://www.youtube.com" class="link"><img class="icon" src="/img/youtube.svg" alt="YouTube"> YouTube</a></li>
            </ul>
            <p class="mt1 small text--gray">Design by <a href="https://www.eatapapaya.com" class="link">Papaya</a>.</p>
        </footer>

    </div>
    </div>
        </div>
    </body>
</html>

